#include <physical_layouts.dtsi>

/ {
    demeter_physical_layout: demeter_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Demeter";

        transform = <&default_transform>;

        keys  //                     w    h     x    y      rot    rx    ry
            /* ── Left half ──────────────────────────────────────────── */
            = <&key_physical_attrs 100  100     0   88       30    50   138>  /*  0  Q    */
            , <&key_physical_attrs 100  100   112   30        0     0     0>  /*  1  W    */
            , <&key_physical_attrs 100  100   212    0        0     0     0>  /*  2  E    */
            , <&key_physical_attrs 100  100   312   30        0     0     0>  /*  3  R    */
            , <&key_physical_attrs 100  100   412   51        0     0     0>  /*  4  T    */

            , <&key_physical_attrs 100  100     5  182       30    55   232>  /*  5  A    */
            , <&key_physical_attrs 100  100   112  124        0     0     0>  /*  6  S    */
            , <&key_physical_attrs 100  100   212   94        0     0     0>  /*  7  D    */
            , <&key_physical_attrs 100  100   312  124        0     0     0>  /*  8  F    */
            , <&key_physical_attrs 100  100   412  146        0     0     0>  /*  9  G    */

            , <&key_physical_attrs 100  100    10  277       30    60   327>  /* 10  Z    */
            , <&key_physical_attrs 100  100   112  219        0     0     0>  /* 11  X    */
            , <&key_physical_attrs 100  100   212  189        0     0     0>  /* 12  C    */
            , <&key_physical_attrs 100  100   312  219        0     0     0>  /* 13  V    */
            , <&key_physical_attrs 100  100   412  240        0     0     0>  /* 14  B    */

            , <&key_physical_attrs 100  100   432  383    34800   482   433>  /* 15  LTH1 */
            , <&key_physical_attrs 100  100   503  454    34800   553   504>  /* 16  LTH2 */

            /* ── Right half ─────────────────────────────────────────── */
            , <&key_physical_attrs 100  100   517   51        0     0     0>  /* 17  Y    */
            , <&key_physical_attrs 100  100   617   30        0     0     0>  /* 18  U    */
            , <&key_physical_attrs 100  100   717    0        0     0     0>  /* 19  I    */
            , <&key_physical_attrs 100  100   817   30        0     0     0>  /* 20  O    */
            , <&key_physical_attrs 100  100   929   88    35700   979   138>  /* 21  P    */

            , <&key_physical_attrs 100  100   517  146        0     0     0>  /* 22  H    */
            , <&key_physical_attrs 100  100   617  124        0     0     0>  /* 23  J    */
            , <&key_physical_attrs 100  100   717   94        0     0     0>  /* 24  K    */
            , <&key_physical_attrs 100  100   817  124        0     0     0>  /* 25  L    */
            , <&key_physical_attrs 100  100   924  182    35700   974   232>  /* 26  '    */

            , <&key_physical_attrs 100  100   517  240        0     0     0>  /* 27  N    */
            , <&key_physical_attrs 100  100   617  219        0     0     0>  /* 28  M    */
            , <&key_physical_attrs 100  100   717  189        0     0     0>  /* 29  ,    */
            , <&key_physical_attrs 100  100   817  219        0     0     0>  /* 30  .    */
            , <&key_physical_attrs 100  100   919  277    35700   969   327>  /* 31  RET  */

            , <&key_physical_attrs 100  100   497  383     1200   547   433>  /* 32  RTH1 */
            , <&key_physical_attrs 100  100   426  454     1200   476   504>  /* 33  RTH2 */
            ;
    };
};
